<% include ./partials/header %>
<link rel="stylesheet" href="/stylesheets/landing.css">
<div class="container" id="welcome">
	<header class="jumbotron">
		<h1>Welcome To Meme Hut</h1>
		<p>The worlds first social media built and engineered just for memes</p>
		<div>
			<a href="/login">Login</a>
		</div>
		<div style="margin-top: 10px">
			<a href="/sign_up">Sign Up</a>
		</div>
		<div style="margin-top: 10px">
			<a href="/home">Browse</a>
		</div>
	</header>
</div>


<% include ./partials/footer %>