<% include ./partials/header %>
<div class="container">
	<h1 style="text-align: center;">Login!</h1>
	<div style="width: 50%; margin: 25px auto;">
		<form action="/login" method="post">
			<input class="form-control form-group" type="text" name="username" placeholder="username">
			<input class="form-control form-group" type="password" name="password" placeholder="password">
			<input class="btn btn-primary" type="submit" value="Login!">
			<div>
				<a href="#">Forgot Password?</a>
			</div>
		</form>
	</div>
</div>
<% include ./partials/footer %>